.react-datepicker * {font-family: "AppleSDGothicNeo", sans-serif;}
.stay_reservation {margin: 0 auto; max-width: 600px; width: 100%; }
.stay_reservation .react-datepicker {width: 100%; display: flex; border: none;}
.stay_reservation .react-datepicker-popper {width: 100%; position: relative !important; transform: unset !important;}
.stay_reservation .react-datepicker__month-container { flex: 1; }
.stay_reservation .react-datepicker__month-container .react-datepicker__header  { width: 100%; background: none;}
.stay_reservation .react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month { margin-bottom: 20px; text-align: center; font-size: 20px; line-height: 1;}
.stay_reservation .react-datepicker__month-container .react-datepicker__day-names {margin-bottom: 0; display: flex; justify-content: center; gap: 10px;}
.stay_reservation .react-datepicker__month-container .react-datepicker__day-names .react-datepicker__day-name {font-size: 18px; line-height: 1;}
.stay_reservation .react-datepicker__month-container .react-datepicker__week {margin-bottom: 20px; display: flex; justify-content: center; gap: 20px;}
.stay_reservation .react-datepicker__month-container .react-datepicker__day {padding: 10px; font-size: 18px; }
.react-datepicker__day  {width: unset !important; min-width: 40px;  border-radius: 50%;}
 
.react-datepicker__day--selected, .react-datepicker__day--selected:hover ,.react-datepicker__day--keyboard-selected {background-color: #000 !important; border-radius: 50% !important;  color: #fff !important;}
.react-datepicker__day:hover, .react-datepicker__day--in-range, .react-datepicker__day--in-selecting-range {background-color: #000 !important; border-radius: 50% !important;  color: #fff !important;}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {background-color: #000 !important; border-radius: 50% !important;  color: #fff !important;}

